*{
  box-sizing: border-box;
}
html, body{
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: auto;
}
body, input, textarea, button{
  font-family: 'Arbutus Slab', serif;
  color: #1b1b1b;
  margin: 0;
}
h1,h2,h3{
  text-transform: uppercase;
  font-weight: normal;
}
h2{
  text-align: center;
  font-size: 2.6rem;

  @media screen and (max-width: 600px){
    font-size: 2.2rem;
  }
}
a{
  color: white;
  text-decoration: none;
  transition: color .3s ease-out;
  &:hover, &:focus{
    outline: 0;
    color: #deae53;
  }
}
.button{
  color: #9d6f49;
  text-transform: uppercase;
  border: 2px solid #9d6f49;
  padding: 5px 10px;
  border-radius: 4px;
  transition: color,background-color .3s ease-out;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  overflow: hidden;
  &:hover{
    background-color: #9d6f49;
    color: white;
  }
  &:focus{
    outline: 0;
    background-color: rgba(206,149,92,.4);
  }
}
section{
  padding: 80px 10vw;
}
// ---------------------
// HEADER
// ---------------------
header{
  background-color: black;
  background-color: rgba(0,0,0,0.6);
  text-transform: uppercase;
  font-size: .8rem;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  transition-duration: .3s;

  .mobile.onTop &{
    transform: translateY(-100%);

    nav{
      opacity: 0;
    }
  }

  h1{
    margin: 0;
    height: 60px;
    margin-right: 80px;
  }

  img{
    max-height: 60px;
  }
  nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50vw;
    a{
      padding: 5px;
      &.active{
        color: rgb(206,149,92);
      }
    }
  }
  button{
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    &:focus{
      color: rgba(206,149,92,.4);
    }
  }

  @media screen and (max-width: 900px){
    nav{
      background-color: black;
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 40px 20px 20px;
      width: 60vw;
      transform: translateX(50vw);
      opacity: 0;
      transition-duration: .6s;
      flex-direction: column;
      justify-content: flex-start;
      a{
        margin: 20px;
        font-size: 1.2rem;
      }
    }
    &.open nav{
      transform: translateX(0);
      opacity: 1;
    }
    .menu{
      display: block;
    }
    .close{
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }
}
// ---------------------
// HOME
// ---------------------
#Home{
  padding: 0;
  background-color: black;
  color: white;
  position: relative;

  h3{
    font-size: 2.4rem;
    margin: 0;
  }

  p{
    margin: 5px 0 15px;
  }

  .slider{
    li{
      height: 95vh;
      height: calc(100vh - 60px);
      background-position: center;
      background-size: cover;
      text-align: right;
      overflow: hidden;
    }
  }


  .ofrecemos{
    padding: 60px 10vw 0;
    background-image: url('../img/home1-bg.jpg');
    position: relative;
    h3{
      display: none;
    }
    &__text{
      margin-right: 65%;
      margin-top: 35vh;
      transition: transform .6s ease-out,opacity .6s ease-in;
      transform: translateX(-100vw);
      opacity: 0;
      user-select: none;
    }

    .button{
      color: white;
      display: inline-block;
    }

    &.tns-slide-active .ofrecemos__text{
      transform: translateX(0);
      opacity: 1;
    }
    @media screen and (max-width: 800px){
      animation: Panning 20s infinite linear;
      &__text{
        margin-right: 0;
        background-color: rgba(0,0,0,0.8);
        width: 100vw;
        text-align: center;
        padding: 20px 0;
        position: absolute;
        bottom: 80px;
      }
      &.tns-slide-active .ofrecemos__text{
        transform: translateX(-10vw);
      }
    }
  }

  .crianza{
    padding: 80px 0;
    background-image: url('../img/home2-bg.jpg');
    position: relative;

    &__text{
      position: absolute;
      left: 0;
      top: 140px;
      width: 100vw;
      padding-right: 60vw;
      padding-left: 10vw;
      height: 80%;
      height: calc(100% - 220px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(241, 217, 189,0.8);
      color: black;
      user-select: none;
      transition: transform .6s ease-out,opacity .6s ease-out;
      transition-delay: .3s;
      transform: translateX(100vw);
      opacity: 0;

      h3{
        color: #9d562f;
      }
      p{
        padding: 0 10px;
        max-width: 400px;
      }
      @media screen and (max-width: 800px){
        h3 {
          font-size: 1.5rem;
        }
      }
    }

    img{
      position: absolute;
      right: 0;
      bottom: 0;
      width: 60%;
      max-height: 90%;
      object-fit: contain;
      object-position: 100% 0%;
      transition: transform .6s ease-out;
    }

    &.tns-slide-active{
      .crianza__text{
        transform: translateX(0);
        opacity: 1;
        @media screen and (max-width: 1200px){
          padding-right: 50vw;
        }
        @media screen and (max-width: 900px){
          padding: 40px 0 45vh;
          top: 80px;
          width: auto;
          left: 20px;
          right: 20px;
          height: calc(100% - 100px);
          text-align: center;
        }
      }
      img{
        transform: translateX(0%);
        opacity: 1;
        @media screen and (max-width: 1200px){
          width: 50vw;
        }
        @media screen and (max-width: 900px){
          height: 45%;
          width: auto;
        }
      }
    }
  }
  .galeria{
    padding: 20vh 10vw 0;
    background-image: url('../img/home3-bg.jpg');

    h3 {
      display: none;
    }

    .tns-controls{
      width: 500px;
      left: 50%;
      transform: translateX(-50%);
      top: 150px;
    }

    div {
      text-align: center;

    }
    a{
      position: relative;
      display: block;
      &:focus{
        background: transparent;
      }
      &:after{
        content: '▶';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        line-height: 0;
        font-size: 3rem;
        text-align: center;
        pointer-events: none;
        transition-duration: .3s;
        text-align: center;
        z-index: 1;
        width: 100%;
        color: rgba(0,0,0,0.8);
        background-color: rgba(255,255,255,0.5);
        padding: 10px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        text-indent: 4px;
      }
      &:hover{
          color: white;

          &:after{
            color: #9d6f49;
          }
      }
      img{
        width: 100%;
        max-width: 480px;
        height: auto;
      }
    }
  }
  .mobile & {
    .slider{
      li{
        height: 100vh;
      }
    }
    .slider:not(.tns-slider){
      li{
        height: 33.4vh;
        transition: height .4s ease-out;
        padding: 0;
        position: relative;

        h3{
          display: block;
          position: absolute;
          top: 15vh;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 1.5rem;
          color: white;
        }
        .gold-bar, img, a, p{
          display: none;
        }

        &.active{
          height: 100vh;

          h3{
            opacity: 0;
            transition-duration: .2s;
          }
        }
        &.inactive{
          height: 0vh;
        }
      }
      .ofrecemos{
        animation: none;

        &__text{
          opacity: 1;
          transform: none;
          transition: none;
          top: 0;
          margin: 0;
          bottom: 0;
          background-color: transparent;
        }
      }
      .crianza{
        &__text{
          opacity: 1;
          transform: none;
          transition: none;
          top: 0;
          bottom: 0;
          background-color: transparent;
        }
      }
    }
  }
}
// ---------------------
// CRITERIOS DE SELECCION
// ---------------------
#Criterios{
  .slider{
    padding-bottom: 20px;
    margin: 80px 0 ;
  }
  li{
    text-align: center;
    font-size: 1.2rem;
    color: #be954f;

    img{
      height: 120px;
      width: auto;
      cursor: pointer;
    }
  }
}
// ---------------------
// CABALLOS
// ---------------------
#Caballos{
  background-color: #f8f8f8;
  h2{
    color: #dfc8a7;
    margin-bottom: 0;
  }
  .slider{
    padding-bottom: 20px;
    li{
      position: relative;
      margin-top: 100px;
      text-align: center;

      @media screen and (max-width: 500px){
        margin-top: 80px;
      }
      @media screen and (min-width: 1200px){
        margin-top: 150px;
      }
    }
    .name{
      position: absolute;
      z-index: -1;
      bottom: 95%;
      left: 15%;
      width: 80%;
    }
    .photo{
      z-index: 2;
      width: 100%;
      height: auto;
    }
    .sans{
      font-size: 0.8rem;
      padding-left: 20%;
      text-align: left;
    }
    .button{
      font-size: .8rem;
    }
  }
  .tns-nav{
    bottom: -2rem;
  }
}
// ---------------------
// GALERIA
// ---------------------
#Galeria{
  padding: 80px 0;
  position: relative;

  .buttons{
    display: flex;
    justify-content: center;
    transition-duration: .3s;
    @media screen and (max-width: 500px){
      flex-direction: column;
      align-items: center;
    }

    button{
      margin: 10px;
    }
  }

  #Imagenes-ow, #Testimonios, #Videos-ow{
    display: none;

    &.active{
      display: block;
    }
  }
  #Testimonios{
    padding: 120px 10vh 0;
    &.active{
      display: flex;
      justify-content: space-between;
    }
    .testimonio {
      background-color: #f8f8f8;
      padding: 20px;
      padding-left: 200px;
      position: relative;
      font-size: .8rem;
      &:last-child{
        margin-left: 40px;
      }
      h4{
        color: #888;
        font-weight: normal;
      }
      img{
        width: 200px;
        height: auto;
        position: absolute;
        left: -20px;
        bottom: 20px;
      }
    }
    @media screen and (max-width: 1000px) {
      padding: 120px 40px 0;
      .testimonio {
        padding-left: 140px;
        img{
          width: 140px;
        }
      }
    }
    @media screen and (max-width: 800px) {
      padding: 120px 0 0;
      flex-direction: column;
      .testimonio {
        margin-bottom: 20px;
        padding-left: 160px;
        &:last-child{
          margin: 0;
        }
        img{
          left: 10px;
          bottom: 40px;
        }
      }
    }
  }
  .tns-controls{
    top: 40px;
    width: 0;
    left: 50%;

  }
  .slider{
    margin-top: 80px;
  }
  .slider li > a{
    display: inline-block;
    width: 100%;
    height: 70vw;
    height: calc(70vw - 20px);
    position: relative;
    overflow: hidden;

    @media screen and (min-width: 500px) {
      height: 40vw;
      height: calc(40vw - 20px);
    }
    @media screen and (min-width: 700px) {
      height: 25vw;
      height: calc(25vw - 20px);
    }
    @media screen and (min-width: 1000px) {
      height: 20vw;
      height: calc(20vw - 20px);
    }

    &:after, &:before{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      line-height: 0;
      text-align: center;
      font-size: 1.5rem;
      pointer-events: none;
      opacity: 0;
      transition-duration: .3s;
      text-align: center;
      z-index: 1;
      width: 100%;
    }
    &:hover{
      color: white;
      &:after, &:before{
        opacity: 1;
      }
      img{
        filter: grayscale(40%) contrast(200%) brightness(0.3);
        transform: scale(1.3);
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition-duration: .3s;
      will-change: filter, transform;
    }
  }
  @media screen and (max-width: 700px){
    li.tns-slide-active{
      a:after, a:before{
        opacity: 1;
      }

      img{
        filter: grayscale(40%) contrast(200%) brightness(0.3);
        transform: scale(1.3);
      }
    }
  }
  #Imagenes{
    a:after{
      content: 'VER';
    }
  }
  #Videos{
    a:after{
      content: "VER VIDEO";
      top: 60%;
    }
    a:before{
      content: '▶';
      font-size: 3rem;
      top: 40%;
    }
  }
}
// ---------------------
// CREEMOS
// ---------------------
#Creemos{
  text-align: center;
  color: #e7d5d5;
  background-image: url('../img/creemos-bg.jpg');
  background-size: cover;
  background-position: center;

  h2{
    color: #b8977c;
  }
  img{
    max-width: 200px;
  }
}
// ---------------------
// CONTACTO
// ---------------------
#Contacto{
  background-image: url('../img/contacto-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 80vh;
  min-height: calc(100vh - 200px);

  @media screen and (max-width: 700px){
    min-height: 0;
  }
  h2{
    color: white;
  }

  form{
    display: flex;
    padding-left: 30%;
    margin-top: 80px;
    position: relative;
    transition-duration: .8s;
    z-index: 1;

    &.loading{
      input[type=submit]{
        animation: Loading 2s ease infinite;
      }
    }
  }
  fieldset{
    flex: 1;
    border: none;
    padding: 0;

    &:first-of-type{
      padding-right: 15px;
    }
  }
  input, textarea{
    width: 100%;
    border: none;
    background-color: rgba(157, 111, 73, .2);
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    height: 40px;
    display: inline-block;

    &::placeholder{
      color: rgba(50,50,50,0.7);
    }
    &:focus{
      background-color: rgba(157, 111, 73, .6);
      outline: none;
    }
  }
  textarea{
    height: 95px;
  }
  input[type=submit]{
    position: absolute;
    bottom: -55px;
    width: 140px;
    left: 75%;
    border: 1px solid #9d6f49;
    cursor: pointer;
    &[value='Enviado!']{
      cursor: default;
    }
  }
  img{
    position: absolute;
    left: 0;
    top: 60px;
    width: 30vw;
    transition-duration: .6s;
    z-index: 1;
  }
  &:before{
    content: '';
    background-color: rgba(241, 217, 189,0.8);
    display: block;
    position: absolute;
    right: 0;
    top: 200px;
    bottom: 0;
    width: 100vw;
    transition-duration: .6s;
  }
  &[data-emergence=hidden] {
    form{
      transform: translateX(100vw);
      opacity: 0;
    }
    img{
      transform: translateX(-100%);
      opacity: 0;
    }
    &:before{
      transform: translateX(120%);
    }
  }
  &[data-emergence=visible] {
    form{
      transform: translateX(0);
      opacity: 1;
      transition-delay: .6s;
    }
    img{
      transform: translateX(0);
      opacity: 1;
      transition-delay: .3s;
    }
  }
  .gold-bar{
    left: auto;
    right: 0;
    overflow: visible;
    z-index: 3;
    top: 50px;
    bottom: -8px;
    &[data-emergence=hidden] {
      transform: translateX(120%);
    }
  }
  @media screen and (max-width: 700px){
    form, fieldset{
      flex-direction: column;
    }
    fieldset{
      display: flex;
      &:first-of-type{
        padding: 0;
      }
    }
    input[type=submit] {
      position: static;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 500px){
    form{
      padding: 0;
    }
    .gold-bar, img{
      display: none;
    }
  }

}
// ---------------------
// FOOTER
// ---------------------
footer{
  background-color: #111;
  background-image: radial-gradient(circle, #1b1b1b,transparent);
  padding: 40px 10vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;

  div{
    flex: 1;
    padding: 0 80px;

    &:last-child{
      border-left: 2px solid #373737;
    }
  }
  img{
    float: right;
  }
  p{
    margin: 0;
    padding: 1em 0;
    font-size: .6rem;
    padding-left: 30px;
    line-height: 16px;
    background-size: 16px 16px !important;
  }
  .tel{
    background: url('../img/tel.png') no-repeat left;
  }
  .dir{
    background: url('../img/dir.png') no-repeat left;
  }
  .mail{
    background: url('../img/mail.png') no-repeat left;
  }
  @media screen and (max-width: 700px){
    flex-direction: column;
    height: 300px;

    div:last-child{
      border: none;
    }
  }
}
